@page
@model KoiFarmShop.WebApplication.Pages.Accounts.LogoutModel

<h2>Đăng xuất</h2>

<p>Chắc chắn muốn đăng xuất không?</p>

<form method="post">
    <button type="submit">Đăng xuất</button>
</form>
