<footer class="footer">
	<div class="mid-footer">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-md-12 col-lg-cus-30 footer-info">
					<div class="logo-footer">
						<a href="/" title="Koi Farm Shop">
							<img width="300" height="96" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC" data-src="./img/logo.png" alt="Koi Farm Shop" class="lazyload">
						</a>
					</div>
					<div class="list-menu toggle-mn">
						<div class="content-contact clearfix">
							<span class="list_footer">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
									<path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
								</svg>
								<b>Địa chỉ: </b>
								
								70 Tô ký, Tân Chánh Hiệp, Quận 12, Tp.HCM
								
							</span>
						</div>
						<div class="content-contact clearfix">
							<span class="list_footer">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone-fill" viewBox="0 0 16 16">
									<path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
								</svg>
								<b>Điện thoại: </b>
								<a title="0876578996" href="tel:0876578996">
									0876578996
								</a>
							</span>
						</div>
						<div class="content-contact clearfix">
							<span class="list_footer">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-fill" viewBox="0 0 16 16">
									<path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757Zm3.436-.586L16 11.801V4.697l-5.803 3.546Z"/>
								</svg>
								<b>Email: </b>
								<a title="koifarmshop10@gmail.com" href="mailto:koifarmshop10@gmail.com">
									koifarmshop10@gmail.com
								</a>
							</span>
						</div>
					</div>
					
					<div class="social-footer">
						<div class="social">
							
							<a href="https://www.facebook.com/profile.php?id=61568145657284&mibextid=ZbWKwL" target="_blank" aria-label="Facebook" title="Theo dõi Koi Farm Shop trên Facebook">
								<img class="lazyload" width=35 height=35 alt="Facebook" data-src="//bizweb.dktcdn.net/100/506/650/themes/944598/assets/facebook_2.svg?1728460505311" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC"/>
							</a>
							
							
							<a href="https://www.instagram.com/koi_farm_shop/" target="_blank" aria-label="Instagram" title="Theo dõi Koi Farm Shop trên Instagram">
								<img class="lazyload" width=35 height=35 alt="Instagram" data-src="//bizweb.dktcdn.net/100/506/650/themes/944598/assets/instagram_1.svg?1728460505311" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC"/>
							</a>
							
							
							<a href="http://shopee.vn/koi_farm_shop" target="_blank" aria-label="Shopee" title="Theo dõi Koi Farm Shop trên Shopee">
								<img class="lazyload" width=35 height=35 alt="Shopee" data-src="//bizweb.dktcdn.net/100/506/650/themes/944598/assets/shopee.svg?1728460505311" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC"/>
							</a>
							
							
							
							
						</div>
					</div>
					
				</div>
				<div class="col-xs-12 col-md-4 col-lg-cus-20 footer-click">
					<h4 class="title-menu clicked">
						<span>Chính sách</span>
					</h4>
					<ul class="list-menu toggle-mn hidden-mob" >
						
						<li class="li_menu">
							<a href="/chinh-sach-mua-hang.html" title="Chính sách mua hàng">Chính sách mua hàng</a>
						</li>
						
						<li class="li_menu">
							<a href="/chinh-sach-thanh-toan.html" title="Chính sách thanh toán">Chính sách thanh toán</a>
						</li>
						
						<li class="li_menu">
							<a href="/chinh-sach-van-chuyen.html" title="Chính sách vận chuyển">Chính sách vận chuyển</a>
						</li>
						
						<li class="li_menu">
							<a href="/cam-ket-cua-hang.html" title="Cam kết cửa hàng">Cam kết cửa hàng</a>
						</li>
						
						<li class="li_menu">
							<a href="/chinh-sach-bao-mat.html" title="Chính sách bảo mật">Chính sách bảo mật</a>
						</li>
						
						<li class="li_menu">
							<a href="/chinh-sach-thanh-vien.html" title="Chính sách thành viên">Chính sách thành viên</a>
						</li>
						
					</ul>
				</div>
				<div class="col-xs-12 col-md-4 col-lg-cus-20 footer-click">
					<h4 class="title-menu clicked">
						<span>Hướng dẫn</span>
					</h4>
					<ul class="list-menu toggle-mn hidden-mob footer-click" >
						
						<li class="li_menu">
							<a href="/huong-dan-mua-hang.html" title="Hướng dẫn mua hàng">Hướng dẫn mua hàng</a>
						</li>
						
						<li class="li_menu">
							<a href="/huong-dan-doi-tra.html" title="Hướng dẫn đổi trả">Hướng dẫn đổi trả</a>
						</li>
						
						<li class="li_menu">
							<a href="/huong-dan-thanh-toan.html" title="Hướng dẫn thanh toán">Hướng dẫn thanh toán</a>
						</li>
						
						<li class="li_menu">
							<a href="/quy-dinh-bao-hanh.html" title="Quy định bảo hành">Quy định bảo hành</a>
						</li>
						
						<li class="li_menu">
							<a href="/huong-dan-chuyen-khoan.html" title="Hướng dẫn chuyển khoản">Hướng dẫn chuyển khoản</a>
						</li>
						
					</ul>
				</div>
				<div class="col-xs-12 col-md-4 col-lg-cus-30">
					<div class="block-payment">
						<h4 class="title-menu">
							<span>Hỗ trợ thanh toán</span>
						</h4>
						
						<div class="payment-footer list-menu">
							
							
							
							
							
							<div class="payment-item">
								<img class="lazyload" width=126 height=58 alt="MoMo" data-src="//bizweb.dktcdn.net/100/506/650/themes/944598/assets/payment_1.png?1728460505311" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC"/>
							</div>
							
							
							

							
							
							
							<div class="payment-item">
								<img class="lazyload" width=126 height=58 alt="VnPay" data-src="//bizweb.dktcdn.net/100/506/650/themes/944598/assets/payment_3.png?1728460505311" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC"/>
							</div>
							
							

							
						</div>
						
					</div>
					<div class="block-certifi">
						<h4 class="title-menu">
					
						<div class="certifi-footer">
							
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="bg-footer-bottom copyright clearfix">
		<div class="container">
			<div class="row tablet">
				<div id="copyright" class="col-lg-12 col-md-12 col-xs-12 fot_copyright">
					<span class="wsp">
						
						<span class="mobile">© Bản quyền thuộc về <b>Koi Farm Shop Team</b>
							
						</span>
						
						
				</div>
			</div>
			
			<a href="#"  class="backtop"  title="Lên đầu trang">
				<svg width="58" height="58" viewBox="0 0 58 58" fill="none" xmlns="http://www.w3.org/2000/svg">
					<rect x="2.13003" y="29" width="38" height="38" transform="rotate(-45 2.13003 29)" stroke="black" fill="#fff" stroke-width="2"/>
					<rect x="8" y="29.2133" width="30" height="30" transform="rotate(-45 8 29.2133)" fill="black"/>
					<path d="M18.5 29H39.5" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
					<path d="M29 18.5L39.5 29L29 39.5" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
				</svg>
			</a>
			
		</div>
	</div>
</footer>
</div>