@page
@model KoiFarmShop.WebApplication.Pages.Blogs.dac_diem_giup_nhan_biet_mot_koi_khoe_manh
@{
    Layout = "_Layout";
    ViewData["Title"] = "Blogs";
}

<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8" />
    <meta name="theme-color" content="#8d251c" />
    <meta name='revisit-after' content='2 days' />
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="robots" content="noodp,index,follow" />
    <meta name="description" content="Cá Koi là gì? Đặc điểm và nguồn gốc giúp nhận biết một Koi khỏe mạnh? Hãy cùng Koi Farm Shop tìm hiểu nhé!">
    <title>Những đặc điểm nào giúp nhận biết một con cá Koi khỏe mạnh?		</title>
    <meta name="keywords" content="Những đặc điểm nào giúp nhận biết một con cá Koi khỏe mạnh?, Kinh nghiệm, Koi Farm Shop, sudes-nest.mysapo.net" />
   


    <meta property="og:description" content="Cá Koi là gì? Đặc điểm và nguồn gốc giúp nhận biết một Koi khỏe mạnh? Hãy cùng Koi Farm Shop tìm hiểu nhé!">
    <meta property="og:site_name" content="Koi Farm Shop">
    <link rel="preload" as="script" href="~/js/jquery.js" />
    <script src="~/js/jquery.js" type="text/javascript"></script>
    <link rel="preload" as="script" href="~/js/swiper.js" />
    <script src="~/js/swiper.js" type="text/javascript"></script>
    <link rel="preload" as="script" href="~/js/lazy.js" />
    <script src="~/js/lazy.js" type="text/javascript"></script>




    <link rel="preload" as='image' media="screen and (max-width: 480px)" href="./img/slider1.jpg">





    <link rel="preload" as='image' media="screen and (max-width: 480px)" href="./img/slider2.jpg">





    <link rel="preload" as='image' media="screen and (max-width: 480px)" href="./img/slider3.jpg">











    <link rel="preload" as='image' href="//bizweb.dktcdn.net/100/506/650/themes/944598/assets/header_pattent.png?1728460505311">


    <link rel="preload" as='image' href="//bizweb.dktcdn.net/100/506/650/themes/944598/assets/footer_pattent.png?1728460505311">


    <link rel="preload" as='style' type="text/css" href="~/css/fonts.scss.css">
    <link rel="preload" as='style' type="text/css" href="~/css/main.scss.css">


    <link rel="preload" as='style' type="text/css" href="~/css/bootstrap-4-3-min.css">
    <link rel="preload" as='style' type="text/css" href="~/css/quickviews_popup_cart.scss.css">
    <style>
        :root {
            --mainColor: #0c0e0d;
            --subColor: #fdc97d;
            --textColor: #333333;
            --hover: #d0a73c;
            --price: #d31100;
        }
    </style>
    <link href="~/css/fonts.scss.css" rel="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" href="~/css/bootstrap-4-3-min.css">
    <link href="~/css/main.scss.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/css/breadcrumb_style.scss.css" rel="stylesheet" type="text/css" media="all" />


    <link href="~/css/sidebar_style.scss.css" rel="stylesheet" type="text/css" media="all" />







    <link href="~/css/blog_article_style.scss.css" rel="stylesheet" type="text/css" media="all" />

    <script>
        var Bizweb = Bizweb || {};
        Bizweb.store = 'sudes-nest.mysapo.net';
        Bizweb.id = 506650;
        Bizweb.theme = { "id": 944598, "name": "Koi Farm Shop", "role": "main" };
        Bizweb.template = 'page';
        if (!Bizweb.fbEventId) Bizweb.fbEventId = 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {
            var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);
            return v.toString(16);
        });</script>
    <script>
        (function () {
            function asyncLoad() {
                var urls = [];
                for (var i = 0; i < urls.length; i++) {
                    var s = document.createElement('script');
                    s.type = 'text/javascript';
                    s.async = true;
                    s.src = urls[i];
                    var x = document.getElementsByTagName('script')[0];
                    x.parentNode.insertBefore(s, x);
                }
            };
            window.attachEvent ? window.attachEvent('onload', asyncLoad) : window.addEventListener('load', asyncLoad, false);
        })();</script>


    <script>
        window.BizwebAnalytics = window.BizwebAnalytics || {};
        window.BizwebAnalytics.meta = window.BizwebAnalytics.meta || {};
        window.BizwebAnalytics.meta.currency = 'VND';
        window.BizwebAnalytics.tracking_url = '/s';

        var meta = {};


        for (var attr in meta) {
            window.BizwebAnalytics.meta[attr] = meta[attr];
        }</script>


    <script src="./js/stats.min.js"></script>









    <script>
        document.addEventListener('DOMContentLoaded', function () {
            awe_lazyloadImage();

            /*Header promotion*/

            var index = 0,
                stop = false,
                num = document.querySelectorAll('.js-promo > li').length,
                liEls = document.querySelectorAll('.js-promo > li');

            function shippingflipInX() {
                if (stop) return false;
                if (index > (num - 2)) {
                    liEls.forEach(function (el) {
                        el.classList.add('see-none');
                        el.classList.remove('animated', 'flipInX', 'see-block');
                    });
                    index = 0;
                    liEls[0].classList.add('animated', 'flipInX', 'see-block');
                    liEls[0].classList.remove('see-none');
                    return;
                }

                liEls.forEach(function (el) {
                    el.classList.add('see-none');
                    el.classList.remove('animated', 'flipInX', 'see-block');
                });
                liEls[index + 1].classList.remove('see-none');
                liEls[index + 1].classList.add('animated', 'flipInX', 'see-block');
                index++;
            }

            var hdtimer = setInterval(function () {
                shippingflipInX();
            }, 5000);

            document.querySelector('.js-promo').addEventListener('mouseenter', function () {
                stop = true;
            });

            document.querySelector('.js-promo').addEventListener('mouseleave', function () {
                stop = false;
            });


            function getItemSearch(name, smartjson) {
                return fetch(`https://${window.location.hostname}/search?q=${name}&view=${smartjson}&type=product`)
                    .then(res => res.json())
                    .catch(err => console.error(err));
            }

            var searchRecent = document.querySelector('.search-suggest .search-recent');
            var searchRecentList = localStorage.getItem('search_recent_list');
            var recentList = searchRecentList ? JSON.parse(searchRecentList) : [];

            if (recentList.length > 0) {
                searchRecent.classList.remove('d-none');
                var searchList = searchRecent.querySelector('.search-list');
                recentList.forEach(function (item) {
                    var link = document.createElement('a');
                    link.href = `/search?query=${encodeURIComponent(item)}&type=product`;
                    link.textContent = item;
                    link.title = `Tìm kiếm ${item}`;
                    link.classList.add('search-item');

                    var closeSpan = document.createElement('span');
                    closeSpan.textContent = 'Đóng';
                    closeSpan.title = 'Đóng';
                    closeSpan.classList.add('close');

                    closeSpan.addEventListener('click', function (e) {
                        e.preventDefault();
                        e.stopPropagation();
                        var index = recentList.indexOf(item);
                        if (index !== -1) {
                            recentList.splice(index, 1);
                            localStorage.setItem('search_recent_list', JSON.stringify(recentList));
                            searchList.removeChild(link);
                            if (recentList.length == 0) {
                                searchRecent.classList.toggle('d-none');
                            }
                        }
                    });

                    link.appendChild(closeSpan);
                    searchList.appendChild(link);
                });
            }

            var searchInput = document.querySelectorAll('.header_tim_kiem input[type="text"], .search-mobile input[type="text"]');
            searchInput.forEach(function (input) {
                input.addEventListener('keyup', function (e) {
                    let term = this.value.trim();
                    let data = '';
                    var resultbox = '';
                    if (term.length > 1) {
                        searchRecent.classList.add('d-none');

                        async function goawaySearch() {
                            data = await getItemSearch(term, 'smartjson');
                            setTimeout(function () {
                                var sizeData = Object.keys(data).length;
                                if (sizeData > 0) {
                                    Object.keys(data).forEach(function (key) {
                                        if (data[key].compare_price !== 0) {
                                            resultbox += `<a class="product-smart" href="${data[key].url}" title="${data[key].name}"><div class="image_thumb"><img width="58" height="58" class="lazyload loaded" src="${data[key].image}" data-src="${data[key].image}" alt="${data[key].name}" data-was-processed="true"></div><div class="product-info"><h3 class="product-name"><span>${data[key].name}</span></h3><div class="price-box"><span class="price">${data[key].price}</span><span class="compare-price">${data[key].compare_price}</span></div></div></a>`;
                                        } else {
                                            resultbox += `<a class="product-smart" href="${data[key].url}" title="${data[key].name}"><div class="image_thumb"><img width="58" height="58" class="lazyload loaded" src="${data[key].image}" data-src="${data[key].image}" alt="${data[key].name}" data-was-processed="true"></div><div class="product-info"><h3 class="product-name"><span>${data[key].name}</span></h3><div class="price-box"><span class="price">${data[key].price}</span></div></div></a>`;
                                        }
                                    });
                                    resultbox += `<a href="/search?query=${term}&type=product" class="see-all-search" title="Xem tất cả">Xem tất cả kết quả »</a>`;
                                    document.querySelector('.list-search').innerHTML = resultbox;
                                } else {
                                    document.querySelector('.list-search').innerHTML = '<div class="not-pro">Không có thấy kết quả tìm kiếm</div>';
                                }
                            }, 200);
                        }

                        goawaySearch();
                    } else {
                        if (recentList.length > 0) {
                            searchRecent.classList.remove('d-none');
                        }
                        document.querySelector('.list-search').innerHTML = '';
                    }
                });
            });

        });
        function awe_lazyloadImage() {
            var ll = new LazyLoad({
                elements_selector: ".lazyload",
                load_delay: 100,
                threshold: 0
            });
        } window.awe_lazyloadImage = awe_lazyloadImage;


    </script>
</head>
<body>
    <div class="opacity_menu"></div>

    <script>
        const header = document.querySelector('header.header');
        let headerHeight = header.offsetHeight;
        let resizeWindow = window.innerWidth;
        let offsetStickyHeader = header.offsetHeight;
        let offsetStickyDown = 0;
        let resizeTimer;

        const tabLinks = document.querySelectorAll('.tab-link');
        const tabContents = document.querySelectorAll('.tab-content-mb');

        const handleResize = () => {
            if (resizeTimer) clearTimeout(resizeTimer);

            resizeTimer = setTimeout(() => {
                const newWidth = window.innerWidth;

                if (resizeWindow !== newWidth) {
                    header.classList.remove('hSticky');
                    header.style.minHeight = '';

                    headerHeight = header.offsetHeight;
                    header.style.minHeight = `${headerHeight}px`;

                    resizeWindow = newWidth;
                }
            }, 200);
        };

        const handleScroll = () => {
            const scrollTop = window.scrollY;

            if (scrollTop > offsetStickyHeader && scrollTop > offsetStickyDown) {
                header.classList.add('hSticky');
            }

            if (scrollTop <= offsetStickyDown && scrollTop <= offsetStickyHeader) {
                header.classList.remove('hSticky');
            }

            offsetStickyDown = scrollTop;
        };

        const handleTabClick = (tabLink) => {
            const tabId = tabLink.dataset.tab;

            tabLinks.forEach((link) => link.classList.remove('active'));
            tabLink.classList.add('active');

            tabContents.forEach((tabContent) => tabContent.classList.remove('active'));
            document.getElementById(tabId).classList.add('active');
        };

        const initializeTabs = () => {
            if (window.innerWidth <= 991) {
                const tabMenu1 = document.getElementById('tab-menu-1');
                const tabLinkMenu1 = document.querySelector('.tab-link[data-tab="tab-menu-1"]');

                tabMenu1.classList.add('active');
                tabLinkMenu1.classList.add('active');

                tabLinks.forEach((tabLink) => {
                    tabLink.addEventListener('click', () => handleTabClick(tabLink));
                });
            }
        };

        window.addEventListener('resize', handleResize);
        window.addEventListener('scroll', handleScroll);

        tabLinks.forEach((tabLink) => {
            tabLink.addEventListener('click', () => handleTabClick(tabLink));
        });

        document.addEventListener('DOMContentLoaded', initializeTabs);
    </script>
    <div class="bodywrap">
        <section class="bread-crumb">
            <div class="container">
                <ul class="breadcrumb">
                    <li class="home">
                        <a href="/" title="Trang chủ"><span>Trang chủ</span></a>
                        <span class="mr_lr">&nbsp;<svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" class="svg-inline--fa fa-chevron-right fa-w-10"><path fill="currentColor" d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z" class=""></path></svg>&nbsp;</span>
                    </li>

                    <li>
                        <a href="~/News/Kinh-nghiem" title="Kinh nghiệm"><span>Kinh nghiệm</span></a>
                        <span class="mr_lr">&nbsp;<svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" class="svg-inline--fa fa-chevron-right fa-w-10"><path fill="currentColor" d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z" class=""></path></svg>&nbsp;</span>
                    </li>
                    <li><strong><span>Đặc điểm giúp nhận biết một Koi khỏe mạnh?</span></strong></li>

                </ul>
            </div>
        </section>



        <section class="blogpage">
            <div class="container layout-article" itemscope itemtype="https://schema.org/Article">
                <div class="bg_blog">
                    <meta itemprop="mainEntityOfPage" content="/dac-diem-giup-nhan-biet-mot-koi-khoe-manh">
                    <meta itemprop="description" content="">
                    <meta itemprop="author" content="Sudes Team">
                    <meta itemprop="headline" content="Đặc điểm giúp nhận biết một Koi khỏe mạnh?">
                    <meta itemprop="image" content="https:https://img.upanh.tv/2024/11/10/giup-nhan-biet-koi.jpg">
                    <meta itemprop="datePublished" content="05-011-2025">
                    <meta itemprop="dateModified" content="05-011-2025">
                    <div itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
                        <div itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
                            <img class="d-none" src="https://img.upanh.tv/2024/11/08/logo.png" alt="Koi Farm Shop" />
                            <meta itemprop="url" content="https://img.upanh.tv/2024/11/08/logo.png">
                            <meta itemprop="width" content="400">
                            <meta itemprop="height" content="60">
                        </div>
                        <meta itemprop="name" content="Koi Farm Shop">
                    </div>
                    <article class="article-main">
                        <div class="row">
                            <div class="right-content col-lg-9 col-12">
                                <div class="article-details bg-shadow clearfix">
                                    <h1 class="article-title">Đặc điểm giúp nhận biết một Koi khỏe mạnh?</h1>
                                    <div class="posts">
                                        <div class="time-post f">

                                            <svg aria-hidden="true" focusable="false" data-prefix="fal" data-icon="clock" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="svg-inline--fa fa-clock fa-w-16"><path fill="currentColor" d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm216 248c0 118.7-96.1 216-216 216-118.7 0-216-96.1-216-216 0-118.7 96.1-216 216-216 118.7 0 216 96.1 216 216zm-148.9 88.3l-81.2-59c-3.1-2.3-4.9-5.9-4.9-9.7V116c0-6.6 5.4-12 12-12h14c6.6 0 12 5.4 12 12v146.3l70.5 51.3c5.4 3.9 6.5 11.4 2.6 16.8l-8.2 11.3c-3.9 5.3-11.4 6.5-16.8 2.6z" class=""></path></svg>

                                            Thứ Sáu,
                                            05/11/2024
                                        </div>
                                        <div class="time-post">
                                            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="user" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="svg-inline--fa fa-user fa-w-14"><path fill="currentColor" d="M224 256c70.7 0 128-57.3 128-128S294.7 0 224 0 96 57.3 96 128s57.3 128 128 128zm89.6 32h-16.7c-22.2 10.2-46.9 16-72.9 16s-50.6-5.8-72.9-16h-16.7C60.2 288 0 348.2 0 422.4V464c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48v-41.6c0-74.2-60.2-134.4-134.4-134.4z" class=""></path></svg>
                                            <span>SETEAM</span>
                                        </div>
                                    </div>
                                    <div class="article-image">
                                        <img width="840"
                                             height="420"
                                             src="~/img/dac-diem-koi-khoe-manh.jpg"
                                             alt="Những đặc điểm nào giúp nhận biết một con cá Koi khỏe mạnh?"
                                             loading="lazy"
                                             class="duration-300" />
                                    </div>

                                    <div class="goto-wrapper ftoc-head">
                                        <a class="title-goto-wrapper" href="javascript:;">
                                            <span>Nội dung bài viết</span>
                                            <span class="icon">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list-ul" viewBox="0 0 16 16">
                                                    <path fill-rule="evenodd" d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m-3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2m0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2m0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2" />
                                                </svg>
                                            </span>
                                        </a>
                                        <div class="menu-toc"></div>
                                    </div>

                                    <div class="rte article-content-main">
                                        <p>
                                            <strong>
                                                Cá Koi khỏe mạnh thường có màu sắc tươi sáng và rõ nét, với các đốm màu sắc sắc sảo, không bị phai nhạt. Vây và đuôi đều đặn, không có dấu hiệu sờn hoặc rách. Làn da mịn màng, không có vết thương, vết sưng hay dấu hiệu của bệnh nấm, vi khuẩn, hoặc ký sinh trùng. Cá nên bơi lội linh hoạt, duy trì tư thế thẳng, không nghiêng lệch. Mắt cá Koi khỏe mạnh sẽ sáng, trong và không có dấu hiệu bị đục hoặc mờ. Tránh chọn những con cá có dấu hiệu bơi lờ đờ, lặn chìm hoặc nổi một chỗ vì có thể đang gặp vấn đề sức khỏe. Ngoài ra, cá khỏe mạnh thường có phản xạ nhanh nhẹn, khi thấy người hoặc thức ăn, cá sẽ di chuyển lại gần và có dấu hiệu thèm ăn rõ ràng, cho thấy cá đang trong tình trạng tốt và không gặp vấn đề về tiêu hóa.
                                            </strong>
                                        <p>
                  
                                           
                                                <img width="840"
                                                     height="420"
                                                     src="/img/giup-nhan-biet-koi.jpg"
            
                                                     loading="lazy"
                                                     class="duration-300" />
                                           
                                           
                                        </p>
                                        <h2><strong>Đặc điểm giúp nhận biết một cá Koi khỏe mạnh</strong></h2>
                                        <p>Cá Koi khỏe mạnh sẽ có những đặc điểm dễ nhận biết giúp người nuôi yên tâm về sức khỏe của cá. Các dấu hiệu dưới đây sẽ giúp bạn đánh giá tình trạng của cá Koi một cách dễ dàng:</p>

                                        <h3><strong>1. Thân hình cân đối</strong></h3>
                                        <p>Cá Koi khỏe mạnh thường có thân hình tròn đầy và cân đối. Khi bơi, cá giữ thân thẳng và di chuyển linh hoạt, không có dấu hiệu uốn cong hay mất cân đối.</p>

                                        <h3><strong>2. Da và màu sắc rực rỡ</strong></h3>
                                        <p>Lớp da của cá Koi khỏe mạnh có độ bóng và màu sắc rõ nét. Màu sắc tươi sáng, sắc nét, không bị nhòe hay phai màu. Các đốm màu trên cơ thể cá phải đều và nổi bật.</p>

                                        <h3><strong>3. Mắt sáng và rõ ràng</strong></h3>
                                        <p>Cá Koi khỏe mạnh sẽ có đôi mắt sáng, không có dấu hiệu lồi, lõm hoặc phủ màng mờ. Đôi mắt phải nằm thẳng, đều và rõ ràng.</p>

                                        <h3><strong>4. Mang và vây hoạt động tốt</strong></h3>
                                        <p>Các vây và mang của cá cần đều đặn và không bị rách, mất màu hay có đốm bất thường. Mang cá phải mở và đóng nhịp nhàng, các vây không bị cụp lại hay có dấu hiệu bong tróc.</p>

                                        <h3><strong>5. Phản ứng nhanh nhạy</strong></h3>
                                        <p>Cá Koi khỏe mạnh có phản ứng linh hoạt khi tiếp cận hoặc chạm vào. Nếu cá có dấu hiệu bơi lờ đờ, chậm chạp hoặc tách đàn, đây có thể là dấu hiệu cá đang gặp vấn đề sức khỏe.</p>

                                        <h3><strong>6. Không có dấu hiệu bệnh lý</strong></h3>
                                        <p>Cá không nên có vết thương, loét hoặc dấu hiệu của ký sinh trùng như đốm trắng, đỏ hoặc lông xù trên cơ thể. Bất kỳ dấu hiệu nào như vậy có thể cho thấy cá đang không khỏe.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="blog_left_base col-lg-3 col-12">
                                <div class="side-right-stick">
                                    <div class="aside-content aside-content-blog">



                                        <h2 class="title-head">
                                            <span>Danh mục tin tức</span>
                                        </h2>
                                        <nav class="nav-category">
                                            <ul class="nav navbar-pills">
                                                <li class="nav-item  relative">
                                                    <a title="Kiến thức" class="nav-link" href="~/News/Kien-thuc">Kiến thức</a>
                                                </li>
                                                <li class="nav-item  relative">
                                                    <a title="Kinh nghiệm" class="nav-link" href="~/News/Kinh-nghiem">Kinh nghiệm</a>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                    <script>
                                        $(".aside-content-blog .nav-category .open_mnu").click(function () {
                                            $(this).toggleClass('cls_mn').next().slideToggle();
                                        });
                                    </script>	<div class="blog_noibat">
                                        <h2 class="h2_sidebar_blog">
                                            <a href="~/News/Kien-thuc" title="Tin tức nổi bật">Tin tức nổi bật</a>
                                        </h2>

                                        <div class="block-content">

                                            <div class="item clearfix">
                                                <div class="post-thumb">
                                                    <a class="image-blog scale_hover" href="~/Blogs/ca-Koi-co-de-nuoi-khong" title="Cá Koi có dễ nuôi không?Cách chọn giống cá Koi khỏe mạnh?">

                                                        <img width="280"
                                                             height="50"
                                                             src="~/img/de-nuoi.jpg"
                                                             alt="Cá Koi có dễ nuôi không? Cách chọn giống cá Koi khỏe mạnh?"
                                                             loading="lazy"
                                                             class="duration-300" />

                                                    </a>
                                                </div>
                                                <div class="contentright">
                                                    <h3>
                                                        <a title="Cá Koi có dễ nuôi không?" href="~/Blogs/ca-Koi-co-de-nuoi-khong"> Cá Koi có dễ nuôi không? Cách chọn giống cá Koi khỏe mạnh?</a>
                                                    </h3>
                                                    <p class="time-post">
                                                        <span>
                                                            11/11/2024
                                                        </span>
                                                    </p>
                                                </div>
                                            </div>

                                            <div class="item clearfix">
                                                <div class="post-thumb">
                                                    <a class="image-blog scale_hover" href="~/Blogs/ki-thuat-nuoi-ca-Koi" title="Kĩ thuật nuôi cá Koi để cá luôn khỏe mạnh và lên màu chuẩn?">
                                                        <img width="400"
                                                             height="140"
                                                             src="~/img/ki-thuat-nuoi-koi.jpg"
                                                             alt="Kĩ thuật nuôi cá Koi để cá luôn khỏe mạnh và lên màu chuẩn?"
                                                             loading="lazy"
                                                             class="duration-300" />

                                                    </a>
                                                </div>
                                                <div class="contentright">
                                                    <h3><a title="Kĩ thuật nuôi cá Koi để cá luôn khỏe mạnh và lên màu chuẩn?" href="~/Blogs/ki-thuat-nuoi-ca-Koi"> Kĩ thuật nuôi cá Koi để cá luôn khỏe mạnh và lên màu chuẩn?</a></h3>
                                                    <p class="time-post">
                                                        <span>
                                                            11/11/2024
                                                        </span>
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="item clearfix">
                                                <div class="post-thumb">
                                                    <a class="image-blog scale_hover" href="~/Blogs/cach-nuoi-ca-Koi-ngoai-troi" title="Cách nuôi cá Koi ngoài trời? ">
                                                        <img width="400"
                                                             height="140"
                                                             src="~/img/nuoi-ngoai-troi.jpg"
                                                             alt="Cách nuôi cá Koi ngoài trời"
                                                             loading="lazy"
                                                             class="duration-300" />
                                                    </a>
                                                </div>
                                                <div class="contentright">
                                                    <h3><a title="Cách nuôi cá Koi ngoài trời?" href="~/Blogs/cach-nuoi-ca-Koi-ngoai-troi"> Cách nuôi cá Koi ngoài trời?</a></h3>
                                                    <p class="time-post">
                                                        <span>
                                                            11/11/2024
                                                        </span>
                                                    </p>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                             

                                </div>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </section>

        <script>
            var $heading2 = $('.article-content-main h2');
            $heading2.attr("id", function () {
                return $(this)
                    .text() // get the h1 text
                    .trim() // remove spaces from start and the end
                    .toLowerCase() // optional
                    .replace(/\s/g, '_'); // convert all spaces to underscores
            });
            var $heading3 = $('.article-content-main h3');
            $heading3.attr("id", function () {
                return $(this)
                    .text() // get the h1 text
                    .trim() // remove spaces from start and the end
                    .toLowerCase() // optional
                    .replace(/\s/g, '_'); // convert all spaces to underscores
            });

            $('.title-goto-wrapper').click(function () {
                $(this).find('.fa').toggleClass('fa-angle-up');
                $(this).find('.fa').toggleClass('fa-angle-down');
                $('.menu-toc').toggleClass('hidden');
            });
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tocbot/4.4.2/tocbot.min.js" type="text/javascript"></script>
        <script>
            $(document).ready(function ($) {
                tocbot.init({
                    tocSelector: '.menu-toc',
                    contentSelector: '.article-content-main',
                    headingSelector: 'h2,h3',
                });
            });
        </script>






























    </div>

    <link rel="preload" as="style" href="~/css/ajaxcart.scss.css" type="text/css">
    <link href="~/css/ajaxcart.scss.css" rel="stylesheet" type="text/css" media="all" />
    <div class="backdrop__body-backdrop___1rvky"></div>
    <script id="SideCartTemplate" type="text/template">

        <form action="/cart" method="post" novalidate class="cart ajaxcart">
            <div class="ajaxcart__inner ajaxcart__inner--has-fixed-footer cart_body items">
                {{#items}}
                <div class="ajaxcart__row">
                    <div class="ajaxcart__product cart_product" data-line="{{line}}">
                        <a href="{{url}}" class="ajaxcart__product-image cart_image" title="{{name}}"><img width="80" height="80" src="{{img}}" alt="{{name}}"></a>
                        <div class="grid__item cart_info">
                            <div class="ajaxcart__product-name-wrapper cart_name">
                                <a href="{{url}}" class="ajaxcart__product-name h4" title="{{name}}">{{name}}</a>
                                {{#if variation}}
                                <span class="ajaxcart__product-meta variant-title">{{variation}}</span>
                                {{/if}}
                            </div>
                            <div class="grid">
                                <div class="grid__item one-half cart_select cart_item_name">
                                    <label class="cart_quantity">Số lượng</label>
                                    <div class="ajaxcart__qty input-group-btn">
                                        <button type="button" class="ajaxcart__qty-adjust ajaxcart__qty--minus items-count" data-id="{{key}}" data-qty="{{itemMinus}}" data-line="{{line}}" aria-label="-">
                                            -
                                        </button>
                                        <input type="text" name="updates[]" class="ajaxcart__qty-num number-sidebar" maxlength="3" value="{{itemQty}}" min="0" data-id="{{key}}" data-line="{{line}}" aria-label="quantity" pattern="[0-9]*">
                                        <button type="button" class="ajaxcart__qty-adjust ajaxcart__qty--plus items-count" data-id="{{key}}" data-line="{{line}}" data-qty="{{itemAdd}}" aria-label="+">
                                            +
                                        </button>
                                    </div>
                                </div>
                                <div class="grid__item one-half text-right cart_prices">
                                    <span class="cart-price">{{price}}</span>
                                    <a title="Xóa" class="cart__btn-remove remove-item-cart ajaxifyCart--remove" href="javascript:;" data-line="{{line}}">Xóa</a>
                                </div>
                            </div>
                            {{#if discountsApplied}}
                            <div class="grid grid--table">
                                <div class="grid__item text-right">
                                    <ul class="order-discount order-discount--list order-discount--title order-discount--cart order-discount--cart-title" aria-label="Giảm giá">
                                        {{#each discounts}}
                                        <li class="order-discount__item">
                                            <span class="icon icon-saletag" aria-hidden="true"></span>{{ this.discount_application.title }} (-{{{ this.formattedAmount }}})
                                        </li>
                                        {{/each}}
                                    </ul>
                                </div>
                            </div>
                            {{/if}}
                        </div>
                    </div>
                </div>
                {{/items}}


            </div>
            <div class="ajaxcart__footer ajaxcart__footer--fixed cart-footer">
                <div class="ajaxcart__subtotal">
                    {{#if cartDiscountsApplied}}
                    <div class="grid grid--table ajaxcart__discounts">
                        {{#each cartDiscounts}}
                        <div class="grid__item two-thirds">
                            <span class="order-discount order-discount--title order-discount--cart-title">
                                <span class="icon icon-saletag" aria-hidden="true"></span><span class="visually-hidden">%:</span>{{ this.title }}
                            </span>
                        </div>
                        <div class="grid__item one-third text-right">
                            <span class="order-discount">-{{{ this.formattedAmount }}}</span>
                        </div>
                        {{/each}}
                    </div>
                    {{/if}}
                    <div class="cart__subtotal">
                        <div class="cart__col-6">Tổng tiền:</div>
                        <div class="text-right cart__totle"><span class="total-price">{{{totalPrice}}}</span></div>
                    </div>
                </div>
                <div class="cart__btn-proceed-checkout-dt">
                    <button onclick="location.href='/checkout'" type="button" class="button btn btn-primary cart__btn-proceed-checkout" id="btn-proceed-checkout" title="Thanh toán">Thanh toán</button>
                </div>
            </div>
        </form>


    </script>

    <script id="CartTemplate" type="text/template">

        <form action="/cart" method="post" novalidate class="cart ajaxcart cartpage">
            <div class="cart-header-info">
                <div>Thông tin sản phẩm</div>
                <div>Đơn giá</div>
                <div>Số lượng</div>
                <div>Thành tiền</div>
            </div>
            <div class="ajaxcart__inner ajaxcart__inner--has-fixed-footer cart_body items">
                {{#items}}
                <div class="ajaxcart__row">
                    <div class="ajaxcart__product cart_product" data-line="{{line}}">
                        <a href="{{url}}" class="ajaxcart__product-image cart_image" title="{{name}}">
                            <img src="{{img}}" alt="{{name}}">
                        </a>
                        <div class="grid__item cart_info">
                            <div class="ajaxcart__product-name-wrapper cart_name">
                                <a href="{{url}}" class="ajaxcart__product-name h4 line-clamp line-clamp-2-new" title="{{name}}">{{name}}</a>
                                {{#if variation}}
                                <span class="ajaxcart__product-meta variant-title">{{variation}}</span>
                                {{/if}}
                                <a title="Xóa" class="cart__btn-remove remove-item-cart ajaxifyCart--remove" href="javascript:;" data-line="{{line}}">Xóa</a>
                            </div>
                            <div class="grid">
                                <div class="grid__item one-half text-right cart_prices">
                                    <span class="cart-price">{{price}}</span>
                                </div>
                            </div>
                            <div class="grid">
                                <div class="grid__item one-half cart_select">
                                    <div class="ajaxcart__qty input-group-btn">
                                        <button type="button" class="ajaxcart__qty-adjust ajaxcart__qty--minus items-count" data-id="{{key}}" data-qty="{{itemMinus}}" data-line="{{line}}" aria-label="-"> - </button>
                                        <input type="text" name="updates[]" class="ajaxcart__qty-num number-sidebar" maxlength="3" value="{{itemQty}}" min="0" data-id="{{key}}" data-line="{{line}}" aria-label="quantity" pattern="[0-9]*">
                                        <button type="button" class="ajaxcart__qty-adjust ajaxcart__qty--plus items-count" data-id="{{key}}" data-line="{{line}}" data-qty="{{itemAdd}}" aria-label="+"> + </button>
                                    </div>
                                </div>
                            </div>
                            <div class="grid justify-right">
                                <div class="grid__item one-half text-right cart_prices">
                                    <span class="cart-price">{{linePrice}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{/items}}
            </div>
        </form>

    </script>
    <script id="CartHeaderTemplate" type="text/template">

        <form action="/cart" method="post" novalidate class="cart ajaxcart cartheader">
            <div class="title_cart_hea" onclick="window.location.href='/cart'">Giỏ hàng</div>
            <div class="ajaxcart__inner ajaxcart__inner--has-fixed-footer cart_body items">
                {{#items}}
                <div class="ajaxcart__row">
                    <div class="ajaxcart__product cart_product" data-line="{{line}}">
                        <a href="{{url}}" class="ajaxcart__product-image cart_image" title="{{name}}"><img width="80" height="80" src="{{img}}" alt="{{name}}"></a>
                        <div class="grid__item cart_info">
                            <div class="ajaxcart__product-name-wrapper cart_name">
                                <a href="{{url}}" class="ajaxcart__product-name h4 line-clamp line-clamp-2-new" title="{{name}}">{{name}}</a>
                                {{#if variation}}
                                <span class="ajaxcart__product-meta variant-title">{{variation}}</span>
                                {{/if}}
                                <a title="Xóa" class="cart__btn-remove remove-item-cart ajaxifyCart--remove" href="javascript:;" data-line="{{line}}"></a>

                            </div>
                            <div class="grid">
                                <div class="grid__item one-half cart_select cart_item_name">
                                    <div class="ajaxcart__qty input-group-btn">
                                        <button type="button" class="ajaxcart__qty-adjust ajaxcart__qty--minus items-count" data-id="{{key}}" data-qty="{{itemMinus}}" data-line="{{line}}" aria-label="-">
                                            -
                                        </button>
                                        <input type="text" name="updates[]" class="ajaxcart__qty-num number-sidebar" maxlength="3" value="{{itemQty}}" min="0" data-id="{{key}}" data-line="{{line}}" aria-label="quantity" pattern="[0-9]*">
                                        <button type="button" class="ajaxcart__qty-adjust ajaxcart__qty--plus items-count" data-id="{{key}}" data-line="{{line}}" data-qty="{{itemAdd}}" aria-label="+">
                                            +
                                        </button>
                                    </div>
                                </div>
                                <div class="grid__item one-half text-right cart_prices">
                                    <span class="cart-price">{{price}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{/items}}
            </div>
            <div class="ajaxcart__footer ajaxcart__footer--fixed cart-footer">
                <div class="ajaxcart__subtotal">
                    <div class="cart__subtotal">
                        <div class="cart__col-6">Tổng tiền:</div>
                        <div class="text-right cart__totle"><span class="total-price">{{{totalPrice}}}</span></div>
                    </div>
                </div>
                <div class="cart__btn-proceed-checkout-dt ">
                    <button onclick="location.href='/checkout'" type="button" class="button btn btn-primary cart__btn-proceed-checkout" id="btn-proceed-checkout" title="Thanh toán">Thanh toán</button>
                </div>
            </div>
        </form>


    </script>

    <script id="CartPopupTemplate" type="text/template">

        <form action="/cart" method="post" novalidate class="cart ajaxcart cartpopup">
            <div class="cart-header-info">
                <div>Thông tin sản phẩm</div><div>Đơn giá</div><div>Số lượng</div><div>Thành tiền</div>
            </div>
            <div class="ajaxcart__inner ajaxcart__inner--has-fixed-footer cart_body items">
                {{#items}}
                <div class="ajaxcart__row">
                    <div class="ajaxcart__product cart_product" data-line="{{line}}">
                        <a href="{{url}}" class="ajaxcart__product-image cart_image" title="{{name}}"><img width="80" height="80" src="{{img}}" alt="{{name}}"></a>
                        <div class="grid__item cart_info">
                            <div class="ajaxcart__product-name-wrapper cart_name">
                                <a href="{{url}}" class="ajaxcart__product-name h4 line-clamp line-clamp-2-new" title="{{name}}">{{name}}</a>
                                {{#if variation}}
                                <span class="ajaxcart__product-meta variant-title">{{variation}}</span>
                                {{/if}}
                                <a title="Xóa" class="cart__btn-remove remove-item-cart ajaxifyCart--remove" href="javascript:;" data-line="{{line}}">Xóa</a>

                            </div>
                            <div class="grid">
                                <div class="grid__item one-half text-right cart_prices">
                                    <span class="cart-price">{{price}}</span>
                                </div>
                            </div>
                            <div class="grid">
                                <div class="grid__item one-half cart_select">
                                    <div class="ajaxcart__qty input-group-btn">
                                        <button type="button" class="ajaxcart__qty-adjust ajaxcart__qty--minus items-count" data-id="{{key}}" data-qty="{{itemMinus}}" data-line="{{line}}" aria-label="-">
                                            -
                                        </button>
                                        <input type="text" name="updates[]" class="ajaxcart__qty-num number-sidebar" maxlength="3" value="{{itemQty}}" min="0" data-id="{{key}}" data-line="{{line}}" aria-label="quantity" pattern="[0-9]*">
                                        <button type="button" class="ajaxcart__qty-adjust ajaxcart__qty--plus items-count" data-id="{{key}}" data-line="{{line}}" data-qty="{{itemAdd}}" aria-label="+">
                                            +
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="grid">
                                <div class="grid__item one-half text-right cart_prices">
                                    <span class="cart-price">{{linePrice}}</span>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{/items}}
            </div>
            <div class="ajaxcart__footer ajaxcart__footer--fixed cart-footer">
                <div class="row">
                    <div class="col-lg-4 col-12 offset-md-8 offset-lg-8 offset-xl-8">
                        <div class="ajaxcart__subtotal">
                            <div class="cart__subtotal">
                                <div class="cart__col-6">Tổng tiền:</div>
                                <div class="text-right cart__totle"><span class="total-price">{{{totalPrice}}}</span></div>
                            </div>
                        </div>
                        <div class="cart__btn-proceed-checkout-dt">
                            <button onclick="location.href='/checkout'" type="button" class="button btn btn-primary cart__btn-proceed-checkout" id="btn-proceed-checkout" title="Thanh toán">Thanh toán</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>


    </script>

    <script id="CartMobileTemplate" type="text/template">

        <form action="/cart" method="post" novalidate class="cart ajaxcart cart-mobile">
            <div class="ajaxcart__inner ajaxcart__inner--has-fixed-footer cart_body">
                {{#items}}
                <div class="ajaxcart__row">
                    <div class="ajaxcart__product cart_product" data-line="{{line}}">
                        <a href="{{url}}" class="ajaxcart__product-image cart_image" title="{{name}}">
                            <img width="80" height="80" src="{{img}}" alt="{{name}}">
                        </a>
                        <div class="grid__item cart_info">
                            <div class="ajaxcart__product-name-wrapper cart_name">
                                <a href="{{url}}" class="ajaxcart__product-name h4 line-clamp line-clamp-2-new" title="{{name}}">{{name}}</a>
                                {{#if variation}}
                                <span class="ajaxcart__product-meta variant-title">{{variation}}</span>
                                {{/if}}
                            </div>
                            <div class="grid">
                                <div class="grid__item one-half cart_select cart_item_name">
                                    <div class="ajaxcart__qty input-group-btn">
                                        <button type="button" class="ajaxcart__qty-adjust ajaxcart__qty--minus items-count" data-id="{{key}}" data-qty="{{itemMinus}}" data-line="{{line}}" aria-label="-"> - </button>
                                        <input type="text" name="updates[]" class="ajaxcart__qty-num number-sidebar" maxlength="3" value="{{itemQty}}" min="0" data-id="{{key}}" data-line="{{line}}" aria-label="quantity" pattern="[0-9]*">
                                        <button type="button" class="ajaxcart__qty-adjust ajaxcart__qty--plus items-count" data-id="{{key}}" data-line="{{line}}" data-qty="{{itemAdd}}" aria-label="+"> + </button>
                                    </div>
                                </div>
                                <div class="grid__item one-half text-right cart_prices">
                                    <span class="cart-price">{{price}}</span>
                                    <a title="Xóa" class="cart__btn-remove remove-item-cart ajaxifyCart--remove" href="javascript:;" data-line="{{line}}">Xóa</a>
                                </div>
                            </div>
                            {{#if discountsApplied}}
                            <div class="grid grid--table">
                                <div class="grid__item text-right">
                                    <ul class="order-discount order-discount--list order-discount--title order-discount--cart order-discount--cart-title" aria-label="Giảm giá">
                                        {{#each discounts}}
                                        <li class="order-discount__item">
                                            <span class="icon icon-saletag" aria-hidden="true"></span>{{ this.discount_application.title }} (-{{{ this.formattedAmount }}})
                                        </li>
                                        {{/each}}
                                    </ul>
                                </div>
                            </div>
                            {{/if}}
                        </div>
                    </div>
                </div>
                {{/items}}
            </div>
        </form>


    </script>

    <script id="FooterCartTemplate" type="text/template">

        <div class="content-items">
            <div class="item-content-left">Tổng tiền</div>
            <div class="item-content-right"><span class="total-price">{{{totalPrice}}}</span></div>
        </div>

    </script>

    <script id="JsQty" type="text/template">

        <div class="js-qty">
            <button type="button" class="js-qty__adjust js-qty__adjust--minus items-count" data-id="{{key}}" data-qty="{{itemMinus}}" aria-label="-">
                -
            </button>
            <input type="text" class="js-qty__num number-sidebar" maxlength="3" value="{{itemQty}}" min="1" data-id="{{key}}" aria-label="quantity" pattern="[0-9]*" name="{{inputName}}" id="{{inputId}}">
            <button type="button" class="js-qty__adjust js-qty__adjust--plus items-count" data-id="{{key}}" data-qty="{{itemAdd}}" aria-label="+">
                +
            </button>
        </div>

    </script>
    <div id="popup-cart-desktop" class="popup-cart">
        <div class="header-popcart">
            <div class="top-cart-header">
                <span>
                    <svg aria-hidden="true" focusable="false" data-prefix="fal" data-icon="check-circle" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="svg-inline--fa fa-check-circle fa-w-16"><path fill="currentColor" d="M256 8C119.033 8 8 119.033 8 256s111.033 248 248 248 248-111.033 248-248S392.967 8 256 8zm0 464c-118.664 0-216-96.055-216-216 0-118.663 96.055-216 216-216 118.664 0 216 96.055 216 216 0 118.663-96.055 216-216 216zm141.63-274.961L217.15 376.071c-4.705 4.667-12.303 4.637-16.97-.068l-85.878-86.572c-4.667-4.705-4.637-12.303.068-16.97l8.52-8.451c4.705-4.667 12.303-4.637 16.97.068l68.976 69.533 163.441-162.13c4.705-4.667 12.303-4.637 16.97.068l8.451 8.52c4.668 4.705 4.637 12.303-.068 16.97z" class=""></path></svg>
                    Bạn đã thêm [<a class="cart-popup-name" href="#"></a>] vào giỏ hàng
                </span>
            </div>
            <a class="noti-cart-count" href="~/cart.html" title="Giỏ hàng">
                Giỏ hàng của bạn hiện có <span class="count_item_pr"></span> sản phẩm
            </a>
            <a title="Đóng" class="cart_btn-close" href="javascript:;"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="512" height="512" x="0" y="0" viewBox="0 0 365.696 365.696" style="enable-background:new 0 0 512 512" xml:space="preserve" class=""><g><path xmlns="http://www.w3.org/2000/svg" d="m243.1875 182.859375 113.132812-113.132813c12.5-12.5 12.5-32.765624 0-45.246093l-15.082031-15.082031c-12.503906-12.503907-32.769531-12.503907-45.25 0l-113.128906 113.128906-113.132813-113.152344c-12.5-12.5-32.765624-12.5-45.246093 0l-15.105469 15.082031c-12.5 12.503907-12.5 32.769531 0 45.25l113.152344 113.152344-113.128906 113.128906c-12.503907 12.503907-12.503907 32.769531 0 45.25l15.082031 15.082031c12.5 12.5 32.765625 12.5 45.246093 0l113.132813-113.132812 113.128906 113.132812c12.503907 12.5 32.769531 12.5 45.25 0l15.082031-15.082031c12.5-12.503906 12.5-32.769531 0-45.25zm0 0" fill="#ffffff" data-original="#000000" style="" class="" /></g></svg></a>
        </div>
        <div class="cartPopupContainer">
        </div>
    </div>



    <div id="popup-cart-mobile" class="popup-cart-mobile">
        <div class="header-popcart">
            <div class="top-cart-header">
                <span>
                    <svg xmlns="http://www.w3.org/2000/svg" height="682.66669pt" viewBox="-21 -21 682.66669 682.66669" width="682.66669pt"><path d="m322.820312 387.933594 279.949219-307.273438 36.957031 33.671875-314.339843 345.023438-171.363281-162.902344 34.453124-36.238281zm297.492188-178.867188-38.988281 42.929688c5.660156 21.734375 8.675781 44.523437 8.675781 68.003906 0 148.875-121.125 270-270 270s-270-121.125-270-270 121.125-270 270-270c68.96875 0 131.96875 26.007812 179.746094 68.710938l33.707031-37.113282c-58.761719-52.738281-133.886719-81.597656-213.453125-81.597656-85.472656 0-165.835938 33.285156-226.273438 93.726562-60.441406 60.4375-93.726562 140.800782-93.726562 226.273438s33.285156 165.835938 93.726562 226.273438c60.4375 60.441406 140.800782 93.726562 226.273438 93.726562s165.835938-33.285156 226.273438-93.726562c60.441406-60.4375 93.726562-140.800782 93.726562-226.273438 0-38.46875-6.761719-75.890625-19.6875-110.933594zm0 0" /></svg>
                    Mua hàng thành công
                </span>
            </div>
            <div class="media-content bodycart-mobile">
            </div>
            <a class="noti-cart-count" href="~/cart.html" title="Giỏ hàng"> Giỏ hàng của bạn hiện có <span class="count_item_pr"></span> sản phẩm </a>
            <a title="Đóng" class="cart_btn-close iconclose" href="javascript:;">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 512.001 512.001" style="enable-background:new 0 0 512.001 512.001;" xml:space="preserve"> <g> <g> <path d="M284.286,256.002L506.143,34.144c7.811-7.811,7.811-20.475,0-28.285c-7.811-7.81-20.475-7.811-28.285,0L256,227.717    L34.143,5.859c-7.811-7.811-20.475-7.811-28.285,0c-7.81,7.811-7.811,20.475,0,28.285l221.857,221.857L5.858,477.859    c-7.811,7.811-7.811,20.475,0,28.285c3.905,3.905,9.024,5.857,14.143,5.857c5.119,0,10.237-1.952,14.143-5.857L256,284.287    l221.857,221.857c3.905,3.905,9.024,5.857,14.143,5.857s10.237-1.952,14.143-5.857c7.811-7.811,7.811-20.475,0-28.285    L284.286,256.002z" /> </g> </g> </svg>
            </a>
            <div class="bottom-action">
                <div class="cart_btn-close btn btn-extent">
                    Tiếp tục mua hàng
                </div>
                <a href="~/checkout.html" class="checkout btn btn-primary" title="Thanh toán ngay">
                    Thanh toán ngay
                </a>
            </div>
        </div>
    </div>
    <link rel="preload" as="script" href="~/js/main.js" />
    <script src="~/js/main.js" type="text/javascript"></script>
    <div id="modal-banner" class="modal-banner" style="display:none;" data-delay="5000">
        <div class="modalbanner-overlay fancybox-overlay fancybox-overlay-fixed"></div>
        <div class="modal-banner-promo">
            <div class="modal-body">

                <form>
                    <a href="~/collections.html" title="Chương trình khuyến mãi" class="banner-promotion" data-section="banner_popup">
                        <script type="text/x-custom-template" data-template="banner_popup">
                            <img width="600" height="600" alt="Chương trình khuyến mãi" src="https://img.upanh.tv/2024/11/10/_popup_banner.jpg" />
                        </script>
                    </a>
                    <div class="check-close">
                        <input type="checkbox" id="check-close-banner" name="vehicle1" value="Bike">
                        <label for="check-close-banner">Không hiển thị hôm nay</label>
                    </div>
                    <a title="Đóng" class="modalbanner-close close-window" href="javascript:;">
                        <svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="times" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" class="svg-inline--fa fa-times fa-w-10"><path fill="currentColor" d="M207.6 256l107.72-107.72c6.23-6.23 6.23-16.34 0-22.58l-25.03-25.03c-6.23-6.23-16.34-6.23-22.58 0L160 208.4 52.28 100.68c-6.23-6.23-16.34-6.23-22.58 0L4.68 125.7c-6.23 6.23-6.23 16.34 0 22.58L112.4 256 4.68 363.72c-6.23 6.23-6.23 16.34 0 22.58l25.03 25.03c6.23 6.23 16.34 6.23 22.58 0L160 303.6l107.72 107.72c6.23 6.23 16.34 6.23 22.58 0l25.03-25.03c6.23-6.23 6.23-16.34 0-22.58L207.6 256z" class=""></path></svg>
                    </a>
                </form>

            </div>
        </div>
    </div>

    <script>
        $(document).ready(function ($) {
            var modalPopup = $('.modal-banner');
            var close = $('.modalbanner-close');
            var checkBox = $('#check-close-banner');
            var banner = $('#modal-banner .banner-promotion');

            function hidePopup() {
                modalPopup.hide();
            }

            function isPopupClosed() {
                // Kiểm tra xem cookie hoặc localStorage có thông tin ngày giống với ngày hiện tại hay không
                var storedDate = localStorage.getItem('popupClosedDate');
                if (storedDate) {
                    var currentDate = new Date().toLocaleDateString("en-US", { timeZone: "Asia/Ho_Chi_Minh" });
                    return storedDate === currentDate;
                }
                return false;
            }

            $(document).on('click', '#modal-banner .modalbanner-overlay, .fancybox-overlay', function (e) {
                hidePopup();
                if (checkBox.prop('checked')) {
                    // Lưu ngày hiện tại vào localStorage
                    var currentDate = new Date().toLocaleDateString("en-US", { timeZone: "Asia/Ho_Chi_Minh" });
                    localStorage.setItem('popupClosedDate', currentDate);
                }
            });

            close.click(function () {
                hidePopup();
                if (checkBox.prop('checked')) {
                    // Lưu ngày hiện tại vào localStorage
                    var currentDate = new Date().toLocaleDateString("en-US", { timeZone: "Asia/Ho_Chi_Minh" });
                    localStorage.setItem('popupClosedDate', currentDate);
                }
            });

            banner.click(function () {
                // Lưu ngày hiện tại vào localStorage
                var currentDate = new Date().toLocaleDateString("en-US", { timeZone: "Asia/Ho_Chi_Minh" });
                localStorage.setItem('popupClosedDate', currentDate);
            });

            if (!isPopupClosed()) {
                var delayTime = $('#modal-banner').data('delay') || 3000;
                setTimeout(function () {
                    var section = $('#modal-banner .banner-promotion');
                    var template = $('script[data-template="banner_popup"]').html();
                    if (template) {
                        $('.banner-promotion[data-section="banner_popup"]').html(template);
                        var banner = $('#modal-banner .banner-promotion');
                        banner.click(function () {
                            // Lưu ngày hiện tại vào localStorage
                            var currentDate = new Date().toLocaleDateString("en-US", { timeZone: "Asia/Ho_Chi_Minh" });
                            localStorage.setItem('popupClosedDate', currentDate);
                        });
                    }
                    modalPopup.show();
                }, delayTime);
            }
        });
    </script>

    <div id="list-favorite" class="d-none">
        <div class="list-favorite-right container" data-type="wishlist">
            <div class="list-favorite-main">
                <div class="list-favorite-list row">
                </div>
            </div>
        </div>
    </div>
    <script>
        var favoriSudes = {};
        favoriSudes.General = {
            init: function () {
                favoriSudes.Wishlist.init();
            },
        }
        favoriSudes.Wishlist = {
            init: function () {
                this.setWishlistProductLoop();
                favoriSudes.Wishlist.wishlistProduct();
            },
            setWishlistProductLoop: function () {
                $('body').on('click', '.remove-wishlist', function (e) {
                    favoriSudes.Wishlist.removeWishlist($(this).attr('data-wish'));
                    theme.alert.new('Xóa khỏi danh sách yêu thích', 'Sản phẩm của bạn đã xóa khỏi sách yêu thích thành công.', 3000, 'alert-primary');
                })
                $('body').on('click', '.setWishlist', function (e) {
                    e.preventDefault();
                    if ($(this).hasClass('active')) {
                        favoriSudes.Wishlist.removeWishlist($(this).attr('data-wish'));
                        theme.alert.new('Xóa khỏi danh sách yêu thích', 'Sản phẩm của bạn đã xóa khỏi sách yêu thích thành công.', 3000, 'alert-primary');
                    } else {
                        theme.alert.new('Thêm vào danh sách yêu thích', 'Sản phẩm của bạn đã thêm vào danh sách yêu thích thành công.', 3000, 'alert-success');
                        var phand = [];
                        var handle = $(this).attr('data-wish');
                        if (document.cookie.indexOf('sudes_wishlist_products') !== -1) {
                            var las = Cookies.getJSON('sudes_wishlist_products');
                            if ($.inArray(handle, las) === -1) {
                                phand = [handle];
                                for (var i = 0; i < las.length; i++) {
                                    phand.push(las[i]);
                                    if (phand.length > 100) {
                                        break;
                                    }
                                }
                                Cookies.set('sudes_wishlist_products', phand, {
                                    expires: 15,
                                    sameSite: 'None',
                                    secure: true
                                });
                            }
                        } else {
                            phand = [handle];
                            Cookies.set('sudes_wishlist_products', phand, {
                                expires: 15,
                                sameSite: 'None',
                                secure: true
                            });
                        }
                        favoriSudes.Wishlist.wishlistProduct();
                    }
                })
            },
            wishlistProduct: function () {
                if ($('#list-favorite .list-favorite-right[data-type="wishlist"] .list-favorite-list').length > 0) {
                    if (document.cookie.indexOf('sudes_wishlist_products') !== -1) {
                        $('#list-favorite .list-favorite-right[data-type="wishlist"] .list-favorite-list').html('')
                        var last_wishlist_pro_array = Cookies.getJSON('sudes_wishlist_products');
                        favoriSudes.Wishlist.activityWishlist();
                        var recentview_promises = [];
                        for (var i = 0; i < 100; i++) {
                            if (typeof last_wishlist_pro_array[i] == 'string') {
                                var promise = new Promise(function (resolve, reject) {
                                    $.ajax({
                                        url: '/products/' + last_wishlist_pro_array[i] + '?view=favorite',
                                        async: false,
                                        success: function (product) {
                                            resolve({
                                                error: false,
                                                data: product
                                            });
                                        },
                                        error: function (err) {
                                            if (err.status === 404) {
                                                try {
                                                    var u = ((this.url.split('?'))[0]).replace('/products/', '');
                                                    resolve({
                                                        error: true,
                                                        handle: u
                                                    });
                                                } catch (e) {
                                                    resolve({
                                                        error: false,
                                                        data: ''
                                                    })
                                                }
                                            } else {
                                                resolve({
                                                    error: false,
                                                    data: ''
                                                });
                                            }
                                            favoriSudes.Wishlist.removeWishlist(last_wishlist_pro_array[i])
                                        }
                                    })
                                });
                                recentview_promises.push(promise);
                            }
                        }
                        Promise.all(recentview_promises).then(function (values) {
                            if (values.length > 0) {
                                var x = [];
                                setTimeout(function () {
                                    $('.js-wishlist-count').html(values.length)
                                }, 500)
                                $.each(values, function (i, v) {
                                    if (v.error) {
                                        x.push(v.handle);
                                    } else {

                                        awe_lazyloadImage();
                                    }
                                });
                                if (x.length > 0) {
                                    var new_last_viewed_pro_array = [];
                                    $.each(last_wishlist_pro_array, function (i, v) {
                                        if ($.inArray(v, x) === -1) {
                                            new_last_viewed_pro_array.push(v);
                                        }
                                    })
                                    if (new_last_viewed_pro_array.length > 0) {
                                        Cookies.set('last_viewed_products', new_last_viewed_pro_array, {
                                            expires: 180,
                                            sameSite: 'None',
                                            secure: true
                                        });
                                    }
                                }
                            } else {
                                $('.js-wishlist-count').html('0')
                                $('#list-favorite .list-favorite-right[data-type="wishlist"] .list-favorite-list').append('<div class="list-favorite-main-top-error col-lg-12 col-md-12 col-sm-12 col-12"><div class="alert alert-warning">Bạn chưa có sản phẩm yêu thích nào!</div></div>')
                            }
                        });
                    } else {
                        $('#list-favorite .list-favorite-right[data-type="wishlist"] .list-favorite-list').append('<div class="list-favorite-main-top-error col-lg-12 col-md-12 col-sm-12 col-12"><div class="alert alert-warning">Bạn chưa có sản phẩm yêu thích nào! </div></div>')
                    }
                } else {
                    $('#list-favorite .list-favorite-right[data-type="wishlist"] .list-favorite-list').append('<div class="list-favorite-right-main-top-error col-lg-12 col-md-12 col-sm-12 col-12"><div class="alert alert-warning">Bạn chưa có sản phẩm yêu thích nào! </div></div>')
                }
            },
            activityWishlist: function () {
                var last_wishlist_pro_array = Cookies.getJSON('sudes_wishlist_products');
                $.each(last_wishlist_pro_array, function (i, v) {
                    $('.setWishlist[data-wish="' + v + '"]').html('<img class="img-unlike" width="25" height="25" src="https://bizweb.dktcdn.net/100/506/650/files/heartadd-1.png?v=1704084436307" alt="Bỏ yêu thích">Bỏ yêu thích</div>').addClass('active').attr('title', 'Bỏ yêu thích');
                })
            },
            removeWishlist: function (handle) {
                var phand = [];

                $('a[data-wish="' + handle + '"]').html('<img width="25" height="25" src="https://bizweb.dktcdn.net/100/451/884/themes/857425/assets/heart.png?1650269474235" alt="Thêm vào yêu thích">Thêm vào yêu thích</div>').removeClass('active').attr('title', 'Thêm vào yêu thích');
                if (document.cookie.indexOf('sudes_wishlist_products') !== -1) {
                    var las = Cookies.getJSON('sudes_wishlist_products');
                    var flagIndex = $.inArray(handle, las);
                    las.splice(flagIndex, 1)
                    Cookies.set('sudes_wishlist_products', las, {
                        expires: 15,
                        sameSite: 'None',
                        secure: true
                    });
                } else {
                    phand = [handle];
                    Cookies.set('sudes_wishlist_products', phand, {
                        expires: 15,
                        sameSite: 'None',
                        secure: true
                    });
                }
                favoriSudes.Wishlist.wishlistProduct(3, 5);
            }
        }
        favoriSudes.Wishlist.init();
    </script>

    <div class="main-widget">
        <div class="def-content unsee element">
            <div class="def-header">
                Liên hệ với chúng tôi
                <div class="close-icon" title="Đóng">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                    </svg>
                </div>
            </div>
            <div class="item phone">
                <a href="tel:0876578996">
                    <span class="img">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M493.4 24.6l-104-24c-11.3-2.6-22.9 3.3-27.5 13.9l-48 112c-4.2 9.8-1.4 21.3 6.9 28l60.6 49.6c-36 76.7-98.9 140.5-177.2 177.2l-49.6-60.6c-6.8-8.3-18.2-11.1-28-6.9l-112 48C3.9 366.5-2 378.1.6 389.4l24 104C27.1 504.2 36.7 512 48 512c256.1 0 464-207.5 464-464 0-11.2-7.7-20.9-18.6-23.4z"></path></svg>
                    </span>
                    <div class="detail">
                        <b class="arcu-item-title">
                            Hotline:
                        </b>
                        <span class="arcu-item-subtitle">
                            0876578996
                        </span>
                    </div>
                </a>
            </div>

            <div class="item zalo">
                <a target="_blank" href="https://zalo.me/0876578996">
                    <span class="img">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 614.501 613.667" xml:space="preserve"><path fill="currentColor" d="M464.721,301.399c-13.984-0.014-23.707,11.478-23.944,28.312c-0.251,17.771,9.168,29.208,24.037,29.202   c14.287-0.007,23.799-11.095,24.01-27.995C489.028,313.536,479.127,301.399,464.721,301.399z"></path><path fill="currentColor" d="M291.83,301.392c-14.473-0.316-24.578,11.603-24.604,29.024c-0.02,16.959,9.294,28.259,23.496,28.502   c15.072,0.251,24.592-10.87,24.539-28.707C315.214,313.318,305.769,301.696,291.83,301.392z"></path><path fill="currentColor" d="M310.518,3.158C143.102,3.158,7.375,138.884,7.375,306.3s135.727,303.142,303.143,303.142   c167.415,0,303.143-135.727,303.143-303.142S477.933,3.158,310.518,3.158z M217.858,391.083   c-33.364,0.818-66.828,1.353-100.133-0.343c-21.326-1.095-27.652-18.647-14.248-36.583c21.55-28.826,43.886-57.065,65.792-85.621   c2.546-3.305,6.214-5.996,7.15-12.705c-16.609,0-32.784,0.04-48.958-0.013c-19.195-0.066-28.278-5.805-28.14-17.652   c0.132-11.768,9.175-17.329,28.397-17.348c25.159-0.026,50.324-0.06,75.476,0.026c9.637,0.033,19.604,0.105,25.304,9.789   c6.22,10.561,0.284,19.512-5.646,27.454c-21.26,28.497-43.015,56.624-64.559,84.902c-2.599,3.41-5.119,6.88-9.453,12.725   c23.424,0,44.123-0.053,64.816,0.026c8.674,0.026,16.662,1.873,19.941,11.267C237.892,379.329,231.368,390.752,217.858,391.083z    M350.854,330.211c0,13.417-0.093,26.841,0.039,40.265c0.073,7.599-2.599,13.647-9.512,17.084   c-7.296,3.642-14.71,3.028-20.304-2.968c-3.997-4.281-6.214-3.213-10.488-0.422c-17.955,11.728-39.908,9.96-56.597-3.866   c-29.928-24.789-30.026-74.803-0.211-99.776c16.194-13.562,39.592-15.462,56.709-4.143c3.951,2.619,6.201,4.815,10.396-0.053   c5.39-6.267,13.055-6.761,20.271-3.357c7.454,3.509,9.935,10.165,9.776,18.265C350.67,304.222,350.86,317.217,350.854,330.211z    M395.617,369.579c-0.118,12.837-6.398,19.783-17.196,19.908c-10.779,0.132-17.593-6.966-17.646-19.512   c-0.179-43.352-0.185-86.696,0.007-130.041c0.059-12.256,7.302-19.921,17.896-19.222c11.425,0.752,16.992,7.448,16.992,18.833   c0,22.104,0,44.216,0,66.327C395.677,327.105,395.828,348.345,395.617,369.579z M463.981,391.868   c-34.399-0.336-59.037-26.444-58.786-62.289c0.251-35.66,25.304-60.713,60.383-60.396c34.631,0.304,59.374,26.306,58.998,61.986   C524.207,366.492,498.534,392.205,463.981,391.868z"></path></svg>
                    </span>
                    <div class="detail">
                        <b class="arcu-item-title">
                            Zalo chat:
                        </b>
                        <span class="arcu-item-subtitle">
                            Tài khoản Zalo: 0876578996
                        </span>
                    </div>
                </a>
            </div>


            <div class="item mess">
                <a target="_blank" href="https://m.me/463293720202704">
                    <span class="img">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-messenger" viewBox="0 0 16 16">
                            <path d="M0 7.76C0 3.301 3.493 0 8 0s8 3.301 8 7.76-3.493 7.76-8 7.76c-.81 0-1.586-.107-2.316-.307a.639.639 0 0 0-.427.03l-1.588.702a.64.64 0 0 1-.898-.566l-.044-1.423a.639.639 0 0 0-.215-.456C.956 12.108 0 10.092 0 7.76zm5.546-1.459-2.35 3.728c-.225.358.214.761.551.506l2.525-1.916a.48.48 0 0 1 .578-.002l1.869 1.402a1.2 1.2 0 0 0 1.735-.32l2.35-3.728c.226-.358-.214-.761-.551-.506L9.728 7.381a.48.48 0 0 1-.578.002L7.281 5.98a1.2 1.2 0 0 0-1.735.32z" />
                        </svg>
                    </span>
                    <div class="detail">
                        <b class="arcu-item-title">
                            Messenger:
                        </b>
                        <span class="arcu-item-subtitle">
                            m.me/koifarmshop
                        </span>
                    </div>
                </a>
            </div>


            <div class="item map">
                <a target="_blank" href="/Contact/he-thong-cua-hang">
                    <span class="img">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pin-map" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M3.1 11.2a.5.5 0 0 1 .4-.2H6a.5.5 0 0 1 0 1H3.75L1.5 15h13l-2.25-3H10a.5.5 0 0 1 0-1h2.5a.5.5 0 0 1 .4.2l3 4a.5.5 0 0 1-.4.8H.5a.5.5 0 0 1-.4-.8l3-4z" />
                            <path fill-rule="evenodd" d="M8 1a3 3 0 1 0 0 6 3 3 0 0 0 0-6zM4 4a4 4 0 1 1 4.5 3.969V13.5a.5.5 0 0 1-1 0V7.97A4 4 0 0 1 4 3.999z" />
                        </svg>
                    </span>
                    <div class="detail">
                        <b class="arcu-item-title">
                            Hệ thống cửa hàng:
                        </b>
                        <span class="arcu-item-subtitle">
                            Xem địa chỉ cửa hàng
                        </span>
                    </div>
                </a>
            </div>

        </div>
        <div class="out-circle">
            <div class="pregan element"></div>
            <div class="pregan element"></div>
            <div class="main-icon">
                <svg width="20" height="20" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g transform="translate(-825 -308)"><g><path transform="translate(825 308)" fill="#FFFFFF" d="M 19 4L 17 4L 17 13L 4 13L 4 15C 4 15.55 4.45 16 5 16L 16 16L 20 20L 20 5C 20 4.45 19.55 4 19 4ZM 15 10L 15 1C 15 0.45 14.55 0 14 0L 1 0C 0.45 0 0 0.45 0 1L 0 15L 4 11L 14 11C 14.55 11 15 10.55 15 10Z"></path></g></g></svg>
                <p>
                    Liên hệ
                </p>
            </div>
            <div class="ser-icon unsee element">
                <div class="process">
                    <span class="img phone item">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 512 512"><path fill="currentColor" d="M493.4 24.6l-104-24c-11.3-2.6-22.9 3.3-27.5 13.9l-48 112c-4.2 9.8-1.4 21.3 6.9 28l60.6 49.6c-36 76.7-98.9 140.5-177.2 177.2l-49.6-60.6c-6.8-8.3-18.2-11.1-28-6.9l-112 48C3.9 366.5-2 378.1.6 389.4l24 104C27.1 504.2 36.7 512 48 512c256.1 0 464-207.5 464-464 0-11.2-7.7-20.9-18.6-23.4z"></path></svg>
                    </span>

                    <span class="img zalo item">
                        <svg width="25" height="25" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 614.501 613.667" xml:space="preserve"><path fill="currentColor" d="M464.721,301.399c-13.984-0.014-23.707,11.478-23.944,28.312c-0.251,17.771,9.168,29.208,24.037,29.202   c14.287-0.007,23.799-11.095,24.01-27.995C489.028,313.536,479.127,301.399,464.721,301.399z"></path><path fill="currentColor" d="M291.83,301.392c-14.473-0.316-24.578,11.603-24.604,29.024c-0.02,16.959,9.294,28.259,23.496,28.502   c15.072,0.251,24.592-10.87,24.539-28.707C315.214,313.318,305.769,301.696,291.83,301.392z"></path><path fill="currentColor" d="M310.518,3.158C143.102,3.158,7.375,138.884,7.375,306.3s135.727,303.142,303.143,303.142   c167.415,0,303.143-135.727,303.143-303.142S477.933,3.158,310.518,3.158z M217.858,391.083   c-33.364,0.818-66.828,1.353-100.133-0.343c-21.326-1.095-27.652-18.647-14.248-36.583c21.55-28.826,43.886-57.065,65.792-85.621   c2.546-3.305,6.214-5.996,7.15-12.705c-16.609,0-32.784,0.04-48.958-0.013c-19.195-0.066-28.278-5.805-28.14-17.652   c0.132-11.768,9.175-17.329,28.397-17.348c25.159-0.026,50.324-0.06,75.476,0.026c9.637,0.033,19.604,0.105,25.304,9.789   c6.22,10.561,0.284,19.512-5.646,27.454c-21.26,28.497-43.015,56.624-64.559,84.902c-2.599,3.41-5.119,6.88-9.453,12.725   c23.424,0,44.123-0.053,64.816,0.026c8.674,0.026,16.662,1.873,19.941,11.267C237.892,379.329,231.368,390.752,217.858,391.083z    M350.854,330.211c0,13.417-0.093,26.841,0.039,40.265c0.073,7.599-2.599,13.647-9.512,17.084   c-7.296,3.642-14.71,3.028-20.304-2.968c-3.997-4.281-6.214-3.213-10.488-0.422c-17.955,11.728-39.908,9.96-56.597-3.866   c-29.928-24.789-30.026-74.803-0.211-99.776c16.194-13.562,39.592-15.462,56.709-4.143c3.951,2.619,6.201,4.815,10.396-0.053   c5.39-6.267,13.055-6.761,20.271-3.357c7.454,3.509,9.935,10.165,9.776,18.265C350.67,304.222,350.86,317.217,350.854,330.211z    M395.617,369.579c-0.118,12.837-6.398,19.783-17.196,19.908c-10.779,0.132-17.593-6.966-17.646-19.512   c-0.179-43.352-0.185-86.696,0.007-130.041c0.059-12.256,7.302-19.921,17.896-19.222c11.425,0.752,16.992,7.448,16.992,18.833   c0,22.104,0,44.216,0,66.327C395.677,327.105,395.828,348.345,395.617,369.579z M463.981,391.868   c-34.399-0.336-59.037-26.444-58.786-62.289c0.251-35.66,25.304-60.713,60.383-60.396c34.631,0.304,59.374,26.306,58.998,61.986   C524.207,366.492,498.534,392.205,463.981,391.868z"></path></svg>
                    </span>


                    <span class="img mess item">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-messenger" viewBox="0 0 16 16">
                            <path d="M0 7.76C0 3.301 3.493 0 8 0s8 3.301 8 7.76-3.493 7.76-8 7.76c-.81 0-1.586-.107-2.316-.307a.639.639 0 0 0-.427.03l-1.588.702a.64.64 0 0 1-.898-.566l-.044-1.423a.639.639 0 0 0-.215-.456C.956 12.108 0 10.092 0 7.76zm5.546-1.459-2.35 3.728c-.225.358.214.761.551.506l2.525-1.916a.48.48 0 0 1 .578-.002l1.869 1.402a1.2 1.2 0 0 0 1.735-.32l2.35-3.728c.226-.358-.214-.761-.551-.506L9.728 7.381a.48.48 0 0 1-.578.002L7.281 5.98a1.2 1.2 0 0 0-1.735.32z" />
                        </svg>
                    </span>


                    <span class="img map item">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-pin-map" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M3.1 11.2a.5.5 0 0 1 .4-.2H6a.5.5 0 0 1 0 1H3.75L1.5 15h13l-2.25-3H10a.5.5 0 0 1 0-1h2.5a.5.5 0 0 1 .4.2l3 4a.5.5 0 0 1-.4.8H.5a.5.5 0 0 1-.4-.8l3-4z" />
                            <path fill-rule="evenodd" d="M8 1a3 3 0 1 0 0 6 3 3 0 0 0 0-6zM4 4a4 4 0 1 1 4.5 3.969V13.5a.5.5 0 0 1-1 0V7.97A4 4 0 0 1 4 3.999z" />
                        </svg>
                    </span>

                </div>
            </div>
            <div class="close-icon unsee element">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                    <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                </svg>
            </div>
        </div>
    </div>
    <script>
        $(function () {
            var i = 1;
            var n = $('.ser-icon .process .item').length;
            var len = $('.ser-icon .process').width() / n;
            var pos = new WebKitCSSMatrix($('.ser-icon .process').css('transform'));
            $('.ser-icon').removeClass('unsee');
            function nextFrame() {
                if (i < n) {
                    i++;
                    var pos2 = new WebKitCSSMatrix($('.ser-icon .process').css('transform'));
                    $('.ser-icon .process').css('transform', 'translateX(' + (pos2.m41 - len) + 'px)');
                    setTimeout(nextFrame, 800);
                } else {
                    $('.ser-icon').addClass('unsee');
                    i = 1;
                    $('.ser-icon .process').css('transform', 'translateX(' + (pos.m41) + 'px)');
                    setTimeout(beginFrame, 2000);
                }
            };
            function beginFrame() {
                $('.ser-icon').removeClass('unsee');
                setTimeout(nextFrame, 900);
            };
            setTimeout(beginFrame, 2000);
            $('.close-icon').click(function (event) {
                $('.element').toggleClass('unsee');
            });
        });
    </script>
    <div id="popupCartModal" class="modal fade" role="dialog">
    </div>


    <div class="popup-sapo">
        <div class="icon">
            <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512">
                <path d="M224 0c-17.7 0-32 14.3-32 32V51.2C119 66 64 130.6 64 208v18.8c0 47-17.3 92.4-48.5 127.6l-7.4 8.3c-8.4 9.4-10.4 22.9-5.3 34.4S19.4 416 32 416H416c12.6 0 24-7.4 29.2-18.9s3.1-25-5.3-34.4l-7.4-8.3C401.3 319.2 384 273.9 384 226.8V208c0-77.4-55-142-128-156.8V32c0-17.7-14.3-32-32-32zm45.3 493.3c12-12 18.7-28.3 18.7-45.3H224 160c0 17 6.7 33.3 18.7 45.3s28.3 18.7 45.3 18.7s33.3-6.7 45.3-18.7z" />
            </svg>
        </div>
        <div class="content">
            <div class="title">Tích hợp sẵn các ứng dụng</div>
            <ul>
                <li>
                    <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512">
                        <path d="M470.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L402.7 256 265.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160zm-352 160l160-160c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L210.7 256 73.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0z" />
                    </svg>
                    <a href="https://apps.sapo.vn/danh-gia-san-pham-v2" target="_blank" title="Đánh giá sản phẩm">Đánh giá sản phẩm</a>
                </li>
                <li>
                    <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512">
                        <path d="M470.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L402.7 256 265.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160zm-352 160l160-160c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L210.7 256 73.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0z" />
                    </svg>
                    <a href="https://apps.sapo.vn/mua-x-tang-y-v2" target="_blank" title="Mua X tặng Y">Mua X tặng Y</a>
                </li>

                <li>
                    <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512">
                        <path d="M470.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L402.7 256 265.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160zm-352 160l160-160c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L210.7 256 73.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0z" />
                    </svg>
                    <a href="https://apps.sapo.vn/quan-ly-affiliate-v2" target="_blank" title="Ứng dụng Affiliate">Ứng dụng Affiliate</a>
                </li>

                <li>
                    <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512">
                        <path d="M470.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L402.7 256 265.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160zm-352 160l160-160c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L210.7 256 73.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0z" />
                    </svg>
                    <a href="https://apps.sapo.vn/ae-da-ngon-ngu" target="_blank" title="Đa ngôn ngữ">Đa ngôn ngữ</a>
                </li>

                <li>
                    <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512">
                        <path d="M470.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L402.7 256 265.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160zm-352 160l160-160c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L210.7 256 73.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0z" />
                    </svg>
                    <a href="#" target="_blank" title="Livechat Facebook">Livechat Facebook</a>
                </li>


            </ul>
            <div class="ghichu">
                Lưu ý với các ứng dụng trả phí bạn cần cài đặt và mua ứng dụng này trên App store để sử dụng ngay
            </div>
            <a title="Đóng" class="close-popup-sapo">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512.001 512.001">
                    <path d="M284.286,256.002L506.143,34.144c7.811-7.811,7.811-20.475,0-28.285c-7.811-7.81-20.475-7.811-28.285,0L256,227.717    L34.143,5.859c-7.811-7.811-20.475-7.811-28.285,0c-7.81,7.811-7.811,20.475,0,28.285l221.857,221.857L5.858,477.859    c-7.811,7.811-7.811,20.475,0,28.285c3.905,3.905,9.024,5.857,14.143,5.857c5.119,0,10.237-1.952,14.143-5.857L256,284.287    l221.857,221.857c3.905,3.905,9.024,5.857,14.143,5.857s10.237-1.952,14.143-5.857c7.811-7.811,7.811-20.475,0-28.285    L284.286,256.002z" />
                </svg>
            </a>
        </div>
    </div>

    <script>
        $('.popup-sapo .icon').click(function () {
            $(".popup-sapo").toggleClass("active");
        });
        $('.close-popup-sapo').click(function () {
            $(".popup-sapo").toggleClass("active");
        });
    </script>


    <div class="popup-ngonngu">
        <div class="icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-globe2" viewBox="0 0 16 16">
                <path d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm7.5-6.923c-.67.204-1.335.82-1.887 1.855-.143.268-.276.56-.395.872.705.157 1.472.257 2.282.287V1.077zM4.249 3.539c.142-.384.304-.744.481-1.078a6.7 6.7 0 0 1 .597-.933A7.01 7.01 0 0 0 3.051 3.05c.362.184.763.349 1.198.49zM3.509 7.5c.036-1.07.188-2.087.436-3.008a9.124 9.124 0 0 1-1.565-.667A6.964 6.964 0 0 0 1.018 7.5h2.49zm1.4-2.741a12.344 12.344 0 0 0-.4 2.741H7.5V5.091c-.91-.03-1.783-.145-2.591-.332zM8.5 5.09V7.5h2.99a12.342 12.342 0 0 0-.399-2.741c-.808.187-1.681.301-2.591.332zM4.51 8.5c.035.987.176 1.914.399 2.741A13.612 13.612 0 0 1 7.5 10.91V8.5H4.51zm3.99 0v2.409c.91.03 1.783.145 2.591.332.223-.827.364-1.754.4-2.741H8.5zm-3.282 3.696c.12.312.252.604.395.872.552 1.035 1.218 1.65 1.887 1.855V11.91c-.81.03-1.577.13-2.282.287zm.11 2.276a6.696 6.696 0 0 1-.598-.933 8.853 8.853 0 0 1-.481-1.079 8.38 8.38 0 0 0-1.198.49 7.01 7.01 0 0 0 2.276 1.522zm-1.383-2.964A13.36 13.36 0 0 1 3.508 8.5h-2.49a6.963 6.963 0 0 0 1.362 3.675c.47-.258.995-.482 1.565-.667zm6.728 2.964a7.009 7.009 0 0 0 2.275-1.521 8.376 8.376 0 0 0-1.197-.49 8.853 8.853 0 0 1-.481 1.078 6.688 6.688 0 0 1-.597.933zM8.5 11.909v3.014c.67-.204 1.335-.82 1.887-1.855.143-.268.276-.56.395-.872A12.63 12.63 0 0 0 8.5 11.91zm3.555-.401c.57.185 1.095.409 1.565.667A6.963 6.963 0 0 0 14.982 8.5h-2.49a13.36 13.36 0 0 1-.437 3.008zM14.982 7.5a6.963 6.963 0 0 0-1.362-3.675c-.47.258-.995.482-1.565.667.248.92.4 1.938.437 3.008h2.49zM11.27 2.461c.177.334.339.694.482 1.078a8.368 8.368 0 0 0 1.196-.49 7.01 7.01 0 0 0-2.275-1.52c.218.283.418.597.597.932zm-.488 1.343a7.765 7.765 0 0 0-.395-.872C9.835 1.897 9.17 1.282 8.5 1.077V4.09c.81-.03 1.577-.13 2.282-.287z" />
            </svg>
        </div>
        <ul class="language">
            <li>
                <a href="#">
                    <img width="16" height="16" src="~/img/vn.png" alt="Tiếng Việt">
                    <span>Tiếng Việt</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <img width="16" height="16" src="~/img/en.png" alt="Tiếng Anh">
                    <span>English</span>
                </a>
            </li>
        </ul>
    </div>



</body>
</html>